:root,
[data-bs-theme=light] {
  --bs-primary: #AF8F6F;
  --bs-primary-rgb: 175, 143, 111;
  --bs-primary-text-emphasis: #46392C;
  --bs-primary-bg-subtle: #EFE9E2;
  --bs-primary-border-subtle: #DFD2C5;
  --bs-secondary: #74512D;
  --bs-secondary-rgb: 116, 81, 45;
  --bs-secondary-text-emphasis: #2E2012;
  --bs-secondary-bg-subtle: #E3DCD5;
  --bs-secondary-border-subtle: #C7B9AB;
  --bs-body-bg: #f8f4e1;
  --bs-body-bg-rgb: 248, 244, 225;
  --bs-body-font-weight: 600;
  --scrollbar-bg: #f1f1f1;
  --scrollbar-thumb: #888;
  --scrollbar-thumb-hover: #555;
  --bs-focus-ring-width: 0.1rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(175, 143, 111, 0.3);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 10px;
  border: 2px solid var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}

.light-color {
  background-color: var(--bs-focus-ring-color);
}

.btn-close {
  --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(175, 143, 111, 0.3);
}

.btn-primary {
  --bs-btn-color: #ffffff;
  --bs-btn-bg: #AF8F6F;
  --bs-btn-border-color: #AF8F6F;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #BBA085;
  --bs-btn-hover-border-color: #B79A7D;
  --bs-btn-focus-shadow-rgb: 26, 21, 17;
  --bs-btn-active-color: #ffffff;
  --bs-btn-active-bg: #BFA58C;
  --bs-btn-active-border-color: #B79A7D;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #AF8F6F;
  --bs-btn-disabled-border-color: #AF8F6F;
}

.btn-outline-primary {
  --bs-btn-color: #AF8F6F;
  --bs-btn-border-color: #AF8F6F;
  --bs-btn-focus-shadow-rgb: 175, 143, 111;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #AF8F6F;
  --bs-btn-hover-border-color: #AF8F6F;
  --bs-btn-active-color: #ffffff;
  --bs-btn-active-bg: #AF8F6F;
  --bs-btn-active-border-color: #AF8F6F;
  --bs-btn-disabled-color: #AF8F6F;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #AF8F6F;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #74512D;
  --bs-btn-border-color: #74512D;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #634526;
  --bs-btn-hover-border-color: #5D4124;
  --bs-btn-focus-shadow-rgb: 234, 229, 224;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #5D4124;
  --bs-btn-active-border-color: #573D22;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #74512D;
  --bs-btn-disabled-border-color: #74512D;
}

.btn-outline-secondary {
  --bs-btn-color: #74512D;
  --bs-btn-border-color: #74512D;
  --bs-btn-focus-shadow-rgb: 116, 81, 45;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #74512D;
  --bs-btn-hover-border-color: #74512D;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #74512D;
  --bs-btn-active-border-color: #74512D;
  --bs-btn-disabled-color: #74512D;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #74512D;
}

.btn {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
  transform: scale(1.05);
}

.btn-success:hover {
  background-color: #4CAF50;
}

.btn-danger:hover {
  background-color: #E53935;
}

.btn-success,
.btn-danger {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.link-primary:focus,
.link-primary:hover {
  color: RGBA(175, 143, 111, var(--bs-link-opacity, 1)) !important;
  -webkit-text-decoration-color: RGBA(175, 143, 111, var(--bs-link-underline-opacity, 1)) !important;
  text-decoration-color: RGBA(175, 143, 111, var(--bs-link-underline-opacity, 1)) !important;
}

.accordion {
  --bs-accordion-border-color: none;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-active-bg: none;
  --bs-accordion-active-color: none;
}

.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-icon);
  transform: var(--bs-accordion-btn-icon-transform);
}

.modal {
  --bs-modal-header-border-color: var(--bs-primary-border-subtle);
  --bs-modal-footer-border-color: var(--bs-primary-border-subtle);
}

.form-control {
  border-color: rgba(175, 143, 111, 0.3);
}

.form-control:focus {
  border-color: var(--bs-primary);
  box-shadow: none;
}

.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
  border-color: var(--bs-form-invalid-border-color);
  box-shadow: none;
}

.form-control.is-valid:focus,
.was-validated .form-control:valid:focus {
  border-color: var(--bs-form-valid-border-color);
  box-shadow: none;
}

textarea.form-control {
  resize: none;
}

.input-group-text {
  background-color: var(--bs-primary);
  color: white;
  border-color: var(--bs-primary);
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
}

/* Hide the number input spin buttons */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.grid-layout {
  display: grid;
  grid-template-columns: 260px 1fr;
  /* Sidebar: 260px, Main Content: 1fr */
  grid-template-areas:
    "sidebar main-content";
  /* Assign names to grid areas */
  min-height: 100vh;
}

.table {
  --bs-table-bg: transparent;
  --bs-table-border-color: var(--bs-secondary-border-subtle);
}

.table td {
  padding: 24px 8px;
}

.table td,
.table th {
  color: var(--bs-secondary);
}

.form-check-input:checked {
  background-color: var(--bs-secondary);
  border-color: var(--bs-secondary);
}

.form-check-input:focus {
  box-shadow: 0 0 0 .25rem var(--bs-focus-ring-color);
}

.status-pill {
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
}

.status-paid {
  background-color: #def7ec;
  color: #03543f;
}

.status-pending {
  background-color: #fef3c7;
  color: #92400e;
}

.status-cancelled {
  background-color: #fde2e2;
  color: #9b1c1c;
}

.status-processing {
  background-color: #e1effe;
  color: #1e429f;
}

.status-shipped {
  background-color: #e5edff;
  color: #42389d;
}

.list-group-item {
  position: relative;
  display: block;
  padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
  color: var(--bs-list-group-color);
  text-decoration: none;
  background-color: var(--bs-list-group-bg);
  border: var(--bs-list-group-border-width) solid var(--bs-focus-ring-color);
}

.list-group {
  --bs-list-group-border-color: var(--bs-focus-ring-color);
  --bs-list-group-action-hover-bg: rgba(175, 143, 111, 0.1);
}

.list-group-item-action:active {
  color: var(--bs-list-group-action-active-color);
  background-color: var(--bs-focus-ring-color);
}

.form-check-input {
  --bs-form-check-bg: var(--bs-focus-ring-color);
}

