.container {
    opacity: 0;
    transform: scale(0.8);
    animation: popup 0.6s ease-out forwards;
}

@keyframes popup {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.order-summary {
    background: rgba(175, 143, 111, 0.3);
}

.btn-position {
    position: absolute;
    top: 22px;
    right: -4px;
}

.quantity {
    display: flex;
    border: 1px solid #AF8F6f;
    border-radius: 4px;
    overflow: hidden;
}

.quantity button {
    background-color: transparent;
    color: #AF8F6f;
    border: none;
    cursor: pointer;
    font-size: 20px;
    width: 30px;
    height: auto;
    text-align: center;
    transition: background-color 0.2s;
}

.quantity button:hover {
    background-color: #AF8F6f;
    color: white;
}

.input-box {
    background-color: transparent;
    width: 40px;
    text-align: center;
    border: none;
    padding: 8px 10px;
    font-size: 16px;
    outline: none;
}

/* Hide the number input spin buttons */
.input-box::-webkit-inner-spin-button,
.input-box::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-box[type="number"] {
    appearance: textfield;
}