.main-grid {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "filter shop-content";
}

/* filterbar style */

.filter-bar {
    grid-area: filter;
    position: sticky;
    top: 8.1875rem;
    align-self: start;
}

.filter-bar h5 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 8px;
    padding-left: 20px;
}

@media (max-width: 992px){
    .main-grid {
        grid-template-columns: 1fr;
    }

    .filter-bar {
        display: none;
    }
}

/* content style */

.shop-content {
    grid-area: shop-content;
}