.main-grid {
    min-height: 80vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "filter shop-content";
}

/* filterbar style */

.filter-bar {
    grid-area: filter;
}

/* content style */

.shop-content {
    grid-area: shop-content;
}